/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* System font stack */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom CSS */
body {
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
main {
  min-height: 98vh;
}
button {
  background: none;
  border: 1px solid #fff;
  height: 50px;
  width: 50px;
  font-size: 45px;
  padding: 0;
  margin: 10px;
  color: #fff;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
}
header {
  height: 10vh;
}
.active {
  background-color: lightgreen;
  color: #000;
}
.playersContainer {
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  margin: 2rem;
}
.reset-btn {
  width: auto;
  padding: 10px;
  margin-top: 2rem;
  font-size: 25px;
  border-radius: 5px;
  background-color: #535329;
}
.gameContainer h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}
.player-card {
  padding: 10px 20px;
  border-radius: 5px;
}

.playersContainer button {
  font-size: 14px;
  height: 20px;
}
dialog {
  margin: 20vh auto;
  padding: 3rem 3rem 2rem 3rem;
  border-radius: 10px;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.69);
}
dialog button {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  width: auto;
  height: 20px;
  padding: 20px 10px;
  border-radius: 5px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}
dialog h2 {
  padding-bottom: 1rem;
}
dialog label {
  font-weight: bold;
  padding-right: 5px;
}
